.profile{
    height: 90vh;
    border: 10px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(123, 123, 223);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}